<% provide(:title, 'Career') %>

<div class="hero-unit">
	<div class="homeTitle">
		<%= image_tag('nasa.jpg', :alt => 'Did I say NASA?') %>
	</div>

	<div class="otherPic">
		<%= image_tag('target.jpg', :alt => 'TARGET') %>
	</div>

	<h1>Professional Dedication.</h1>
	<br/>
	<p>I have, over the past 18 years, collected an impressive array 
	of work experiences.  Much of my professional life has been 
	dedicated to warehouse process and inventory management.  At 
	Target Corpation, where I have work for 15 years, I held a team 
	lead position in their Logistics Division.  There I developed 
	solid leadership and communication skills.  Our team, under my 
	guidence developed efficient handling and storage stategies and
	maintained a consistantly safe and shortage-resistant warehouse.</p>
	<br/>
	<p>Recently, I have had the opportunity to participate in a 
	summer research position with the university under a grant from the 
	NASA Wallops Flight Facility.  Our team was charged with building 
	and designing the software for a small satellite which will launch in 
	late 2012.  I was instrumental in integrating key peripherals into 
	the satellite, including a CMOS camera that will be used to take 
	pictures to be transmitted to a ground station.</p>

</div>
