<% provide(:title, 'Home') %>
<div class="center hero-unit">
	<div class="homeTitle">
		<%= image_tag("me.jpg", :alt => "Its\'s a-me, Keith!") %>
	</div>		
	<h1>Welcome to Keith Bartolotta's site.</h1>
	<h2>This is the home page for Keith.</h2>
</div>
