<% provide(:title, 'Home') %>
<div class="hero-unit">
	<div class="homeTitle">
		<%= image_tag("me.jpg", :alt => "Its\'s a-me, Keith!") %>
	</div>		
	<h1>Welcome.</h1>
	<p>I am a Computer Science undergraduate at East Stroudsburg University.  I wish to 
	pursue a position as a software developer where I can apply my knowledge of programming 
	languages, computing theory, and embedded system design in a creative and 
	team oriented professional environment.  I hope to further contribute to a
	business through the acheivement of goals and adherence to high standards and best
	practices.</p>
</div>
