<% provide(:title, 'Education') %>
<div class="hero-unit">
	<div class="homeTitle">
		<%= link_to(image_tag('esu.jpg', :alt => 'Yeah, ESU!'), 'http://www4.esu.edu/') %>
	</div>
		
	<div class="otherPic">
		<%= link_to(image_tag('ncc.jpg', :alt => 'NCC'), 'http://www.northampton.edu/') %>
	</div>	

	<h1>Acedemic Excellence.</h1>
	<br/>
	<p>I recevieved my associates in Computer Science from Northampton Community 
	College in 2010, where I earned a GPA of 3.84.  At NCC I developed a solid 
	foundation in programming and algorithmic analysis.  The curriculum included
	course in C++, Java, Client Scripting, Object Oriented Software Design, and 
	General Graph Theory.
	</p>
	<br/>
	<p>I attented East Stroudsburg University, afterwards, and earned a bachelor's 
	degree in Computer Science in 2012, with a GPA of 3.94.  ESU provided me with 
	the tools to become a professional software developer.  Courses taken included 
	Advanced Graph Theory, Natural Language Processing, Operating Systems, 
	Software Engineering, and Game Development.</p>

</div>
