@import "bootstrap";


/* General */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

p {
	text-align: justify;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* topography */

h1, h2 {
	line-height: 1;
}

h1 {
	font-size: 2.3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

.banner h2 {
	float: left
}

.homeTitle {
	float: left;
	margin: 10px;
}

.otherPic {
	float: right;
	margin: 10px;
}
